.sidebar {
    grid-area: nav;
    background-color: #B0C4DE;
    padding: 25px;
  }
  .list {
    list-style-type: none;
  }
  .item {
    margin-bottom: 35px;
  }
  .link {
    text-decoration: none;
    color: #000;
  }
  .link:hover {
    color: grey;
  }
  .link.active {
    color: gold;
    font-size: 20px;
    transition: 0.2s ease all;
  }